<div class="profile" fxLayout="row" fxLayoutAlign="center">
  <div class="profile-bnr">
      
    <div class="profile-bnr-container">
      <div class="profile-bnr-content-left">
        <h1>Fahd CHARGUI</h1>
        <h4>web developer</h4>
      </div>
      <div class="profile-bnr-content-right-center">
      <div class="profile-bnr-content-right">
          <button mat-raised-button color="primary">Connect</button>
          <button mat-raised-button color="primary">Share</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div>
  <h1>Biography</h1>
  <div>

  </div>
</div>
<div>
  <mat-tab-group>
    <mat-tab label="Profile"> <app-experiences-page></app-experiences-page></mat-tab>
    <mat-tab label="Connections"> <app-experiences-page></app-experiences-page> </mat-tab>
  </mat-tab-group>
</div>